.club-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 6;
    column-gap: 2rem;
    row-gap: 1rem;

    @media (width <= 640px) {
        display: none;
    }

    a {
        display: inline-block;
        border: 1px solid white;
        border-radius: 2rem;
        text-decoration: none;
        white-space: nowrap;
        color: var(--color-white);
        font-size: var(--fs-lg);
        padding-block: 0.5rem;
        padding-inline: 1rem;
        background: linear-gradient(
                to left,
                transparent 50%,
                var(--color-secondary) 50%
            )
            right;
        background-size: 200%;

        &:hover {
            background-position: left;
            transition: 300ms ease-in-out;
        }

        .active & {
            background-color: var(--color-white);
            color: var(--color-primary);
            text-decoration: none;
        }
    }
}
