:root {
    --color-primary: #328f31;
    --color-secondary: #236422;
    --color-tertiary: #318f8c;
    --color-spot: #8f3134;
    --color-black: #222222;
    --color-white: #f5f5f5;
    --color-black-10: color-mix(in srgb, var(--color-black) 10%, transparent);
    --color-black-25: color-mix(in srgb, var(--color-black) 25%, transparent);
    --color-black-50: color-mix(in srgb, var(--color-black) 50%, transparent);
    --color-black-75: color-mix(in srgb, var(--color-black) 75%, transparent);
    --color-white-25: color-mix(in srgb, var(--color-white) 25%, transparent);
    --color-white-50: color-mix(in srgb, var(--color-white) 50%, transparent);
    --color-white-75: color-mix(in srgb, var(--color-white) 75%, transparent);
    --color-primary-25: color-mix(
        in srgb,
        var(--color-primary) 25%,
        transparent
    );
    --color-primary-50: color-mix(
        in srgb,
        var(--color-primary) 50%,
        transparent
    );
    --color-primary-75: color-mix(
        in srgb,
        var(--color-primary) 75%,
        transparent
    );
    --color-secondary-25: color-mix(
        in srgb,
        var(--color-secondary) 25%,
        transparent
    );
    --color-secondary-50: color-mix(
        in srgb,
        var(--color-secondary) 50%,
        transparent
    );
    --color-secondary-75: color-mix(
        in srgb,
        var(--color-secondary) 50%,
        transparent
    );
    --color-tertiary-25: color-mix(
        in srgb,
        var(--color-tertiary) 25%,
        transparent
    );
    --color-tertiary-50: color-mix(
        in srgb,
        var(--color-tertiary) 50%,
        transparent
    );
    --color-tertiary-75: color-mix(
        in srgb,
        var(--color-tertiary) 50%,
        transparent
    );
    --color-tertiary-darker: color-mix(
        in srgb,
        var(--color-tertiary) 75%,
        var(--color-black)
    );
    --color-spot-25: color-mix(in srgb, var(--color-spot) 25%, transparent);
    --color-spot-50: color-mix(in srgb, var(--color-spot) 50%, transparent);
    --color-spot-75: color-mix(in srgb, var(--color-spot) 75%, transparent);
    --color-focus: rgb(255, 167, 0) /* Orange 500 */;
}
