.extended {
    container-name: extended;
    container-type: inline-size;
    grid-column: 2 / 6;

    @media (width <= 640px) {
        grid-column: 2 / 4;
    }

    .news-list-view {
        display: grid;
        gap: 2rem;

        .header div.creation-info {
            transform: translateY(-1rem);
            background-color: var(--color-white);
            color: var(--color-black-75);
        }

        .headline {
            font-size: var(--fs-xl);
        }
    }

    .article {
        display: flex;
        flex-direction: column;
        border-radius: 4px;
        background-color: var(--color-primary);
        padding: 1rem;
        color: var(--color-white);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);

        &:last-child {
            padding-bottom: 1rem;
        }
        &:nth-child(1) {
            rotate: -1deg;
        }
        &:nth-child(2) {
            rotate: 1deg;
            translate: 0 0.7rem;
        }

        .footer {
            color: var(--color-white-75) !important;

            p {
                margin-bottom: 1rem;
            }
        }

        .teaser-text {
            display: flex;
            flex: 1;
            flex-direction: column;
            margin-bottom: 0;
        }

        .more {
            margin-top: auto;
        }
    }
}

@container extended (width > 640px) {
    .news-list-view {
        grid-template-columns: repeat(3, 1fr);
    }
}
@container extended (width <= 640px) {
    .news-list-view {
        grid-template-columns: repeat(2, 1fr);
    }
}
@container extended (width <= 500px) {
    .news-list-view {
        grid-template-columns: 1fr;
    }
}
