.extended {
    container-name: extended;
    container-type: inline-size;
    grid-column: 2 / 6;

    @media (width <= 640px) {
        grid-column: 2 / 4;
    }

    .news-title {
        margin-bottom: 1rem;
        font-size: var(--fs-md);
        color: var(--color-black-50);
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 400;
    }

    /* article container */
    .frame-type-shortcut {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.7rem;

        /* article */
        > div {
            position: relative;
            margin: 0;
            border: 1px solid var(--color-black-50);
            padding: 1rem;
            max-height: 25rem;
            overflow: hidden;

            &::after {
                display: inline-block;
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                background: linear-gradient(transparent, var(--color-white) 50%)
                    no-repeat;
                height: 2rem;
                content: '';
            }

            h3 {
                font-size: var(--fs-xl);
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;

                &:has(+ p time) {
                    margin-bottom: 1rem;
                }
            }

            h4 {
                margin-top: 0.3rem;
                font-size: var(--fs-lg);
            }
        }
    }

    @container extended (width <= 640px) {
        > div {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @container extended (width <= 500px) {
        > div {
            grid-template-columns: 1fr;
        }
    }
}
