footer {
    display: grid;
    grid-template-columns: var(--grid-cols-lg);
    margin-top: auto;
    background: linear-gradient(
        to top,
        var(--color-secondary) 10%,
        var(--color-primary)
    );
    color: var(--color-white);
    padding-block: 1rem;
    row-gap: 1rem;

    @media (width <= 640px) {
        grid-template-columns: var(--grid-cols-sm);
    }

    [data-layout='default'] & {
        column-gap: 2rem;

        @media (width <= 640px) {
            column-gap: 0;
        }
    }

    .sponsors {
        grid-column: 3 / 5;

        @media (width <= 640px) {
            grid-column: 2 / 4;
        }

        img {
            width: 100%;
        }
    }

    .copyright {
        color: var(--color-white-75);
    }
}
