footer {
    display: grid;
    grid-template-columns: var(--lg-cols);
    margin-top: auto;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding-block: var(--p-y);

    [data-layout='default'] & {
        column-gap: 2rem;
    }

    @media (width <= 640px) {
        grid-template-columns: var(--sm-cols);
        column-gap: 0;
    }

    div {
        grid-column: 2 / 4;
    }

    a {
        text-decoration: none;
    }
}
