footer {
    display: grid;
    grid-template-columns: var(--grid-cols-lg);
    margin-top: auto;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding-block: var(--p-y);
    row-gap: 1rem;

    @media (width <= 640px) {
        grid-template-columns: var(--grid-cols-sm);
        padding-block: var(--p-y) 7rem;
    }

    [data-layout='default'] & {
        column-gap: 2rem;

        @media (width <= 640px) {
            column-gap: 0;
        }
    }

    div {
        grid-column: 3 / 5;

        @media (width <= 640px) {
            grid-column: 2 / 4;
        }
    }

    .sponsors-title {
        border-bottom: 1px solid var(--color-white);
        margin-bottom: 1rem;
        padding-bottom: 0.5rem;
    }
}
