:root {
    --grid-cols-sm: minmax(1rem, 1fr) minmax(0, 40rem) minmax(0, 20rem)
        minmax(1rem, 1fr);
    --grid-cols-lg: minmax(2rem, 1fr) [extended-start] 5rem minmax(0, 40rem)
        minmax(0, 20rem) [extended-end] 5rem minmax(2rem, 1fr);
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    color: var(--color-black);
    font-family: var(--ff-sans);
    background-color: var(--color-white);
}

li:not(nav li) {
    padding-block: 0.25rem;
}

:focus-visible {
    outline: 2px solid var(--color-focus);
    outline-offset: 2px;
}

nav li,
.f3-widget-paginator {
    list-style-type: none;
}

/* Links */
a {
    color: inherit;
    text-underline-offset: 0.3rem;
    text-decoration-thickness: 1px;
}

nav {
    a {
        text-decoration: none;

        &:vistited {
            color: inherit;
        }
    }
}

[data-layout='default'] .main-content-wrap header a {
    text-decoration: none;
    pointer-events: none;
}

/* Images */
figure {
    margin: 1rem 0;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

figcaption {
    margin-top: 0.5rem;
}

/* Video */
div:has(iframe) {
    display: flex;
    justify-content: center;
    padding-block: 2rem;
}

/* Tables */
table {
    width: 100%;

    tr:nth-child(odd) {
        background-color: var(--color-black-10);
    }

    td {
        padding: 0.3rem 0.5rem;
    }
}
