.main-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    z-index: 4;

    @media (width <= 640px) {
        display: none;
    }

    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: var(--color-white);
        font-size: var(--fs-lg);
        gap: 1rem;

        &:hover img {
            transform: scale(1.2);
            transition: transform 300ms ease-in-out;
        }
        &:hover span {
            text-decoration: underline;
        }
    }

    .img-wrapper {
        border: 2px solid var(--color-white);
        border-radius: 50%;
        background-color: var(--color-white-25);
        width: 6rem;
        height: 6rem;
        overflow: hidden;
        color: var(--color-white);

        @media (width >= 768px) {
            width: 6rem;
            height: 6rem;
        }
        @media (width >= 1024px) {
            width: 9rem;
            height: 9rem;
        }
    }

    img {
        transition: transform 300ms ease-in-out;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
