.main-content-wrap {
    display: grid;
    grid-template-columns: var(--grid-cols-lg);
    padding-top: 5rem;
    padding-bottom: 6rem;
    row-gap: 2.5rem;
    background: repeating-linear-gradient(
                -45deg,
                var(--color-secondary),
                var(--color-secondary) 18px,
                transparent 5px,
                transparent 25px
            )
            no-repeat top,
        repeating-linear-gradient(
                -45deg,
                var(--color-primary),
                var(--color-primary) 18px,
                transparent 5px,
                transparent 25px
            )
            no-repeat bottom;
    background-size: 100% 1.2rem;

    @media (width <= 640px) {
        grid-template-columns: var(--grid-cols-sm);
        padding-top: 3rem;
        padding-bottom: 4rem;
    }

    [data-layout='startseite'] & {
        .main {
            grid-column: 3 / 5;

            @media (width <= 640px) {
                grid-column: 2 / 4;
            }
        }
    }

    [data-layout='default'] & {
        column-gap: 2rem;

        @media (width <= 640px) {
            column-gap: 0;
            row-gap: 2.5rem;
        }

        .main {
            grid-column: 3 / 4;

            @media (width <= 768px) {
                grid-column: 3 / 5;
            }
            @media (width <= 640px) {
                grid-column: 2 / 4;
            }
        }

        .sidebar {
            grid-column: 4 / 5;
            padding-left: 3rem;

            @media (width <= 768px) {
                grid-column: 3 / 4;
                padding-left: 0;
            }
            @media (width <= 640px) {
                grid-column: 2 / 4;
            }
        }
    }
}
