/* source-sans-3-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/source-sans-3-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* source-sans-3-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/source-sans-3-v15-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Global */
:root {
    --ff-sans: 'Source Sans 3', 'sans-serif';
    --p-x: 32px;
    --p-y: 16px;
}

body {
    font-family: var(--ff-sans);
    color: var(--color-black);
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-size: 3.815rem;
}
h2 {
    font-size: 3.052rem;
}
h3 {
    font-size: 2.441rem;
}
h4 {
    font-size: 1.953rem;
}
h5 {
    font-size: 1.563rem;
}
h6 {
    font-size: 1.25rem;
}
p {
    font-size: 1rem;
    margin: 0.5rem 0;
}
small {
    font-size: 0.8rem;
}

/* Spacings */
.header,
main,
footer {
    padding-inline: var(--p-x);
    padding-block: var(--p-y);
}

.frame-space-before-extra-small {
    margin-top: 16px;
}
.frame-space-before-small {
    margin-top: 32px;
}
.frame-space-before-medium {
    margin-top: 48px;
}
.frame-space-before-large {
    margin-top: 64px;
}
.frame-space-before-extra-large {
    margin-top: 80px;
}

.frame-space-after-extra-small {
    margin-bottom: 16px;
}
.frame-space-after-small {
    margin-bottom: 32px;
}
.frame-space-after-medium {
    margin-bottom: 48px;
}
.frame-space-after-large {
    margin-bottom: 64px;
}
.frame-space-after-extra-large {
    margin-bottom: 80px;
}

/* Sections */
.pageheader {
    display: flex;
    justify-content: center;
}

.pageheader h1 {
    padding: 16px 24px;
    border: 2px solid var(--color-black);
    text-align: center;
    display: inline-block;
}

nav li.active a {
    font-weight: 700;
}

footer {
    background-color: var(--color-primary);
    color: var(--color-white);
}
