.mobile-nav-wrapper {
    display: flex;
    position: fixed;
    flex-direction: column;
    transform: translateX(calc(-100%));
    z-index: 10;
    background-color: transparent;
    padding: 4rem 1rem 1rem;
    inset: 0;
    row-gap: 1rem;
    transition: 300ms;

    @media (width >= 640px) {
        display: none;
    }

    a {
        display: inline-block;
        padding: 0.5rem 1.2rem;
        font-size: var(--fs-xl);

        .active & {
            background-color: var(--color-black);
            color: var(--color-white);
            text-decoration: none;
        }
    }

    &.open {
        transform: translateX(0%);
        background-color: var(--color-white);
    }
}

.mobile-nav-button {
    position: fixed;
    right: 2rem;
    top: 2rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 100;
}

.hidden {
    display: none;
}
