.mobile-nav-wrapper {
    display: flex;
    position: fixed;
    flex-direction: column;
    transform: translateX(-80%);
    z-index: 10;
    background-color: transparent;
    padding: 1rem;
    inset: 0;
    row-gap: 1rem;
    transition: 300ms;

    a {
        display: inline-block;
        padding: 0.5rem 1.2rem;
        font-size: var(--fs-xl);

        .active & {
            background-color: var(--color-black);
            color: var(--color-white);
            text-decoration: none;
        }
    }

    &.open {
        transform: translateX(0%);
        background-color: var(--color-white);
    }

    @media (width >= 640px) {
        display: none;
    }
}

.mobile-nav-button {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    border: none;
    background-color: transparent;
    width: 3rem;
    height: 3rem;
    cursor: pointer;

    svg {
        width: 100%;
        height: 100%;
    }
}
