.news {
    /* List and Detail */
    .article,
    .news-single {
        .footer {
            color: var(--color-black-50);

            span {
                &:not(:last-of-type)::after {
                    content: '|';
                    margin-inline: 0.25rem;
                }
            }
        }
    }

    /* List view */
    .news-list-view {
        > .article {
            margin-bottom: 2rem;
        }
    }

    .article {
        .header {
            a {
                text-decoration: none;
            }
        }

        .news-img-wrap {
            a {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .more {
            display: flex;
            justify-content: flex-end;
            column-gap: 0.5rem;
            text-decoration: none;
            font-weight: 700;

            &:hover {
                text-decoration: underline;
            }

            svg {
                width: 1rem;
            }
        }
    }

    /* Detail view */
    &.news-single {
        .news-backlink-wrap {
            margin-bottom: 2rem;

            a {
                display: flex;
                column-gap: 0.5rem;
                text-decoration: none;
                font-weight: 700;

                &:hover {
                    text-decoration: underline;
                }
            }

            svg {
                width: 1rem;
            }
        }

        .news-img-wrap {
            float: none;
            margin: 0;
            padding: 0;
            width: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
