
    /* List and Detail */
.news .article .header,.news .news-single .header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
            border-top: 1px solid var(--color-black-25);
        }
.news .article .header .headline,.news .news-single .header .headline {
                padding-top: 1rem;
            }
.news .article .header .creation-info,.news .news-single .header .creation-info {
                align-self: start;
                background-color: var(--color-black-10);
                color: var(--color-black);
                padding-left: 1rem;
                padding-right: 1rem;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                border-radius: 0 0 1rem 1rem;
            }
.news .article .header .creation-info p,.news .news-single .header .creation-info p {
                    margin-top: 0;
                    margin-bottom: 0;
                }
/* List view */
.news .news-list-view  > .article {
            margin-bottom: 6rem;
        }
@media (max-width: 390.98px) {
            .news .news-list-view  > .article {
                margin-bottom: 1rem;
        }
            }
.news .article .header a {
                -webkit-text-decoration: none;
                text-decoration: none;
            }
.news .article .news-img-wrap a img {
                    width: 100%;
                    height: 100%;
                    -o-object-fit: cover;
                       object-fit: cover;
                }
.news .article .more {
            display: flex;
            justify-content: flex-end;
            -moz-column-gap: 0.5rem;
                 column-gap: 0.5rem;
            -webkit-text-decoration: none;
            text-decoration: none;
            font-weight: 700;
            margin-top: 0.5rem;
        }
.news .article .more:hover {
                -webkit-text-decoration: underline;
                text-decoration: underline;
            }
.news .article .more svg {
                width: 1rem;
            }
/* Detail view */
.news.news-single .news-backlink-wrap {
            margin-bottom: 2rem;
        }
.news.news-single .news-backlink-wrap a {
                display: flex;
                -moz-column-gap: 0.5rem;
                     column-gap: 0.5rem;
                -webkit-text-decoration: none;
                text-decoration: none;
                font-weight: 700;
            }
.news.news-single .news-backlink-wrap a:hover {
                    -webkit-text-decoration: underline;
                    text-decoration: underline;
                }
.news.news-single .news-backlink-wrap svg {
                width: 0.8rem;
            }
.news.news-single .news-img-wrap {
            float: none;
            margin: 0;
            padding: 0;
            width: 100%;
        }
.news.news-single .news-img-wrap .outer {
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
.news.news-single .news-img-wrap img {
                width: 100%;
                height: 100%;
                -o-object-fit: cover;
                   object-fit: cover;
            }
.news.news-single .teaser-text {
            margin-top: 1rem;
            margin-bottom: 1rem;
            font-weight: 700;
        }
