.pageheader {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(
            to bottom,
            var(--color-primary),
            transparent,
            var(--color-black)
        )
        no-repeat;

    padding: 3rem 1rem;
    row-gap: 4rem;

    @media (width <= 640px) {
        height: 80vh;
    }

    &::after {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        mix-blend-mode: multiply;
        background-color: var(--color-primary);
        height: 100%;
        content: '';
    }

    .bg-image-wrapper {
        position: absolute;
        z-index: 0;
        width: 100%;
        overflow: hidden;
        filter: grayscale(1);
        inset: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    h1 {
        z-index: 2;
        border: 2px solid var(--color-white);
        background-color: var(--color-black-25);
        padding: 1rem 1.5rem;
        text-align: center;
        color: var(--color-white);
    }

    .subnav-title {
        font-weight: 400;
    }

    h2 {
        z-index: 3;
        color: var(--color-white);
    }

    a {
        text-decoration-color: var(--color-white);
    }
}

.logo-wrapper {
    display: flex;
    flex-direction: column;
    z-index: 1;
    text-decoration: none;
    row-gap: 1rem;

    svg {
        flex-shrink: 0;
        height: 9rem;
        color: var(--color-white);
    }

    .logo-text {
        text-align: center;
        color: var(--color-white);
        font-size: 2rem;
        font-weight: 700;
    }

    [data-layout='startseite'] & {
        svg {
            height: 12rem;
        }

        .logo-text {
            font-size: 3rem;
        }
    }
}
