.privacy-nav {
    grid-column: 3 / 5;
    display: flex;
    column-gap: 2rem;
    flex-wrap: wrap;
    row-gap: 1rem;

    menu {
        display: flex;
        flex: auto;
        flex-wrap: wrap;
        column-gap: 2rem;
        row-gap: 1rem;
        color: var(--color-white-75);

        li:last-of-type {
            margin-left: auto;
        }
    }

    @media (width <= 640px) {
        grid-column: 2 / 4;
    }

    a {
        transition: color 300ms ease;

        &:hover {
            color: var(--color-white);
        }
    }
}
