.privacy-nav {
    display: flex;
    grid-column: 3 / 5;
    column-gap: 2rem;
    color: var(--color-white-75);

    @media (width <= 640px) {
        grid-column: 2 / 4;
    }

    a {
        transition: color 300ms ease;

        &:hover {
            color: var(--color-white);
        }
    }
}
