.sub-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
    grid-column: 2 / 4;

    a {
        padding: 1rem;
        border: 1px solid var(--color-black);

        .active & {
            background-color: var(--color-primary);
            border: 1px solid var(--color-primary);
            color: var(--color-white);
            text-decoration: none;
        }
    }
}
