.sub-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
    grid-column: 3 / 5;

    @media (width <= 640px) {
        grid-column: 2 / 4;
    }

    a {
        padding: 0.9rem 1.5rem;
        border: 1px solid var(--color-black);

        @media (width <= 640px) {
            padding: 0.7rem 1.2rem;
        }

        &:hover {
            border: 1px solid var(--color-primary);
            color: var(--color-primary);
            transition: color 300ms ease;
        }

        &.active {
            background-color: var(--color-primary);
            border: 1px solid var(--color-primary);
            color: var(--color-white);
            text-decoration: none;
        }
    }
}
