/* source-sans-3-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/source-sans-3-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* source-sans-3-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/source-sans-3-v15-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    --ff-sans: 'Source Sans 3', 'sans-serif';

    --fs-xs: 0.7rem;
    --fs-sm: 0.8rem; /* small */
    --fs-base: 1.1rem; /* p 17.6 px*/
    --fs-lg: 1.25rem; /* h6 */
    --fs-xl: 1.563rem; /* h5 */
    --fs-2xl: 1.953rem; /* h4 */
    --fs-3xl: 2.441rem; /* h3 */
    --fs-4xl: 3.052rem; /* h2 */
    --fs-5xl: 3.815rem; /* h1 */

    --lh-base: 1.3; /* p */
    --lh-lg: 1.5; /* p a11y */

    --letter-spacing-lg: 0.012rem;
    --word-spacing-lg: 0.1rem;
    --paragraph-spacing-base: 0.5rem;
    --paragraph-spacing-lg: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-block: 0 0.5rem;
    word-break: break-word;
}

h1 {
    font-size: var(--fs-5xl);

    @media (width <= 640px) {
        font-size: var(--fs-3xl);
    }
}

h2 {
    font-size: var(--fs-4xl);

    @media (width <= 640px) {
        font-size: var(--fs-3xl);
    }
}

h3 {
    font-size: var(--fs-3xl);

    @media (width <= 640px) {
        font-size: var(--fs-2xl);
    }
}

h4 {
    font-size: var(--fs-2xl);

    @media (width <= 640px) {
        font-size: var(--fs-xl);
    }
}

h5 {
    font-size: var(--fs-xl);
}

h6 {
    font-size: var(--fs-lg);
}

p {
    line-height: var(--lh-lg);
    letter-spacing: var(--letter-spacing-lg);
    word-spacing: var(--word-spacing-lg);
    font-size: var(--fs-base);
    margin-block: var(--paragraph-spacing-base);
    hyphens: auto;
}

.news p:not(.news-img-caption) {
    margin-block: var(--paragraph-spacing-lg);
}

small {
    font-size: var(--fs-sm);
}

header:has(:is(h1, h2, h3, h4, h5, h6)) > :last-child:not(.mobile-nav-wrapper) {
    margin-bottom: 1rem;
}
